
<form class="example-form" [formGroup]="medicineDetailsForm">
    <table class="example-full-width" cellspacing="0">
    
        <tr>
            <td>
                <button type="button" mdbBtn class="waves-light" placement="bottom" 
                     mdbPopoverHeader={{header}}
                    mdbPopover='
                    התרופה: {{ELEMENT_DATA[0].MedicineName}}
                    מרכיב: {{ELEMENT_DATA[0].Active}}
                    אופן הנטילה: {{ELEMENT_DATA[0].DosageForm }} 
                    סיפטום: {{ELEMENT_DATA[0].Symptom }}'
                    mdbWavesEffect>
                    {{ELEMENT_DATA[0].MedicineName}}
                </button>
            </td>
        </tr>
        <tr >
        <td>
        <img src="./assets/icons/amount.png">
        <mat-form-field class="example-full-width">
        <input type="number" formControlName="TotalQuantity" matInput placeholder="כמות כוללת מהתרופה"  required pattern="^[0-9]+$" minlength="1" maxlength="100">  
      </mat-form-field><div class="err" *ngIf="TotalQuantity.errors && TotalQuantity.dirty">
          <p *ngIf="TotalQuantity.errors.required">שדה חובה</p>
          <p *ngIf="TotalQuantity.errors.pattern">שדה זה יכול להכיל רק מספרים</p> 
        </div>
    </td>
  </tr>
        <!-- <tr>
        <td>
        <img src="./assets/icons/calendar.png" >
        <mat-label padding-right=5px>תקופת נטילת התרופה :</mat-label> <br>
        <mat-radio-group>
        <mat-radio-button value="2" color="primary" (change)="Till(0)"> זמן בלתי מוגבל </mat-radio-button>
        <mat-radio-button value="1" color="primary" (change)="Till(1)">זמן מוגבל  </mat-radio-button>
        </mat-radio-group>
        <div *ngIf="limitedTimeBoolian == true" id="divlimit">
        <img src="./assets/icons/number.png" height="25px">
        <mat-form-field class="example-full-width">
        <input type="number" formControlName="dateNumber" matInput placeholder="מס ימים">
        </mat-form-field>
        </div>
        </td>
        </tr>
        <tr>
        <td>
        <br>
        <img src="./assets/icons/food1.png" height="25px">
        <mat-form-field class="example-full-width">
        <mat-label> :אופן הנטילה</mat-label>
        <mat-select>
        <mat-option  value="לפני אוכל"(click)="howToTake(1)" > 
        <img src="./assets/icons/לפני אוכל.jpg" class="img1">
        <span>לפני אוכל</span>
        </mat-option>
        <mat-option  value="עם אוכל"(click)="howToTake(2)">
        <img src="./assets/icons/עם אוכל.jpg" class="img1">
        <span>עם אוכל</span>
        </mat-option> 
        <mat-option  value="אחרי אוכל"(click)="howToTake(3)">
        <img src="./assets/icons/אחרי אוכל.jpg" class="img1" >
        <span>אחרי אוכל</span>
        </mat-option>
    
        </mat-select>
        </mat-form-field>
        </td>
        </tr>
        <tr>
        <td>
        <img src="./assets/icons/amount.png">
        <mat-form-field class="example-full-width">
        <input formControlName="Amount" type="number" matInput placeholder="כמות לנטילה">
        </mat-form-field>
        </td>
        </tr>
        <tr>
        <td>
        <img src="./assets/icons/frequency.png">
        <mat-form-field class="example-full-width">
        <input type="number" [value]="frequency" formControlName="Frequency" (ngModelChange)="frequency = $event"
        (change)="frequencyonday(frequency)" matInput placeholder="כמה פעמים ביום">
        </mat-form-field>
        </td>
        </tr>
        <tr>
        <td *ngIf="frequency >= 1" id="divfrequency">
        <div id="textTime" *ngFor="let f of hoursToScheduler; let i = index">
        <img src="./assets/icons/hourInDay.png">
        <mat-form-field class="example-full-width">
        <input type="time" id="{{f}}" [(ngModel)]="hoursToScheduler[i]" [ngModelOptions]="{standalone: true}"
        matInput placeholder="שעה">
        </mat-form-field>
        </div>
        </td>
        </tr> -->
        <tr>
            <td style="padding: 10px;">
            <img src="./assets/icons/calendar.png" style="padding-left: 5px;" >
            <mat-label padding-right=5px>כמה זמן עלי לקחת את התרופה :</mat-label> <br>
            <mat-radio-group>
            <mat-radio-button value="2" color="primary" (change)="Till(0)"> זמן בלתי מוגבל </mat-radio-button>
            <mat-radio-button value="1" color="primary" (change)="Till(1)">זמן מוגבל  </mat-radio-button>
            </mat-radio-group>
            <div *ngIf="limitedTimeBoolian == true" id="divlimit">
            <img src="./assets/icons/number.png" height="25px">
            <mat-form-field class="example-full-width">
              <input type="number" formControlName="dateNumber" matInput placeholder="מס ימים" required pattern="^[0-9]+$" minlength="1" maxlength="100">  
            </mat-form-field>
            <div class="err" *ngIf="dateNumber.errors && dateNumber.dirty">
                <p *ngIf="dateNumber.errors.required">שדה חובה</p>
                <p *ngIf="dateNumber.errors.pattern">שדה זה יכול להכיל רק מספרים</p> 
              </div>
              </div>
          </td>
          </tr>
          
            <tr>
            <td>
            <br>
            <img src="./assets/icons/food1.png" height="25px">
            <mat-form-field class="example-full-width">
            <mat-label> הוראות מיוחדות</mat-label>
            <mat-select>
            <mat-option  value="לפני אוכל"(click)="howToTake(1)" > 
            <img src="./assets/icons/לפני אוכל.jpg" class="img1">
            <span>לפני אוכל</span>
            </mat-option>
            <mat-option  value="עם אוכל"(click)="howToTake(2)">
            <img src="./assets/icons/עם אוכל.jpg" class="img1">
            <span>עם אוכל</span>
            </mat-option> 
            <mat-option  value="אחרי אוכל"(click)="howToTake(3)">
            <img src="./assets/icons/אחרי אוכל.jpg" class="img1" >
            <span>אחרי אוכל</span>
            </mat-option>
            
        
            </mat-select>
            </mat-form-field>
            </td>
            </tr>
            <tr>
            <td>
            <img src="./assets/icons/amount.png">
            <mat-form-field class="example-full-width">
              <input formControlName="Amount" type="number" matInput placeholder="מה המינון שלי" required pattern="^[0-9]+$" minlength="1" maxlength="4">  
            </mat-form-field><div class="err" *ngIf="Amount.errors && Amount.dirty">
                <p *ngIf="Amount.errors.required">שדה חובה</p>
                <p *ngIf="Amount.errors.pattern">שדה זה יכול להכיל רק מספרים</p> 
              </div>
          </td>
          </tr>
          
            <tr>
            <td>
            <img src="./assets/icons/frequency.png">
            <mat-form-field class="example-full-width">
              <input type="number" [value]="frequency" formControlName="Frequency" (ngModelChange)="frequency = $event"
              (change)="frequencyonday(frequency)" matInput placeholder="כמה פעמים ביום" required pattern="^[0-9]+$" minlength="1" maxlength="12">  
            </mat-form-field><div class="err" *ngIf="Frequency.errors && Frequency.dirty">
                <p *ngIf="Frequency.errors.required">שדה חובה</p>
                <p *ngIf="Frequency.errors.pattern">שדה זה יכול להכיל רק מספרים</p> 
              </div>
          </td>
          </tr>  
          
            <tr>
            <td *ngIf="frequency >= 1" id="divfrequency">
            <div id="textTime" *ngFor="let f of hoursToScheduler; let i = index">
            <img src="./assets/icons/hourInDay.png">
            <mat-form-field class="example-full-width">
            <input type="time" id="{{f}}" [(ngModel)]="hoursToScheduler[i]" [ngModelOptions]="{standalone: true}"
            matInput placeholder="שעה">
            </mat-form-field>
            </div>
            </td>
            </tr>
        <button type="submit" (click)="save()" class="save" mat-raised-button matTooltip="שמור עדכונים" >שמור</button>
    
        </table>
    </form>