border{
    display: inline-block;
    background-color: rgb(125, 163, 59);
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    margin: 9.5px;
    float: left; 
    margin-left: 40%;
    border-top-right-radius: 20px 50%;
    border-top-left-radius: 20px 50%;
    border-bottom-right-radius: 20px 50%;
    border-bottom-left-radius: 20px 50%;
    
  
}
img{
    margin: 5px;
}